/* font */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');


/* common */

* {
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', 'Roboto', 'Noto Sans KR', sans-serif;
    background: #ffffff;
    font-size: 13px;
    letter-spacing: -1px;
    min-width: 320px;
}
.clear::after {
    content: "";
    clear: both;
    display: block;
}
.left {
    float: left;
}
.right {
    float: right;
}
img {
    vertical-align: top;
}
a {
    display: block;
    height: 100%;
}
.visually_hidden {
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}
.aside_sns_wrap .sns_item {
    background: url(../img/btn_social.png) no-repeat;
    width: 30px;
    height: 30px;
    background-size: auto 30px;
}