/* header_wrap */
.header_wrap {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
}
.logo_wrap {
    padding-left: 20px;
}
.logo_wrap .logo {
    display: block;
    width: 64px;
    height: 60px;
    background: url(../img/logo1.png) no-repeat;
    background-size: 66px auto;
    background-position: center;
    text-indent: -9999px;
}
.menu_wrap .btn_menu {
    display: inline-block;
    background: url(../img/btn_hamberger.png) no-repeat;
    height: 60px;
    width: 60px;
    background-size: 26px auto;
    background-position: center;
    text-indent: -9999px;
}

/* aside */
.aside_wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    right: -100%;
    top: 0;
    z-index: 101;
    background: #fff;
    overflow: hidden;
    overflow-y: auto;
}
.aside_header {
    position: sticky;
    width: 100%;
    height: 55px;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px 15px 0 15px;
    z-index: 1;
    background: #fff;
    transition: 0.3s;
}
.aside_header.active {
    box-shadow: 0px -10px 20px 0px rgb(0 0 0 / 40%);
}
.aside_header .btn_login {
    height: 28px;
    padding: 0 12px;
    border: 1px solid #000;
}
.aside_header li:not(.btn_close) > * {
    font-weight: 400;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: -.6px;
    color: #000;
}
.aside_header li:not(.btn_close):active {
    background: #000;
}
.aside_header li:not(.btn_close):active > * {
    color: #fff;
}
.aside_header .btn_join {
    height: 28px;
    margin-left: 5px;
    padding: 0 12px;
    border: 1px solid #000;
    font-weight: 400;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: -.6px;
    color: #000;
}
.aside_header .btn_close {
    background: url(../img/btn_close.png) no-repeat;
    background-size: 100%;
    background-position: center;
    width: 17px;
    height: 28px;
    text-indent: -9999px;
}
.aside_body {
    /* margin-top: 48px; */
}
.mypage_list {
    display: flex;
    margin-bottom: 15px;
}
.mypage_list .mypage_item {
    width: calc(100%/3);
    text-align: center;
    position: relative;
}
.mypage_list .mypage_item::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    background: #e5e5e5;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -6px;
}
.mypage_list .my::after {
    display: none;
}
.mypage_list .mypage_item span {
    display: inline-block;
    margin: 11px auto 10px;
    font-weight: 600;
}
.mypage_list .mypage_item span::before {
    content: "";
    background: url(../img/direct_menu.png) no-repeat;
    display: block;
    width: 22px;
    height: 20px;
    margin: 11px auto 10px;
    background-size: auto 66px;
}
.mypage_list .my span::before {
    content: "";
    display: block;
    background-position: 0 -23px;
}
.mypage_list .coupon span::before {
    content: "";
    display: block;
    background-position: -50px -23px;
}
.mypage_list .point span::before {
    content: "";
    display: block;
    background-position: -75px -23px;
}

/* product_item */
.product_item {
    padding: 0 15px;
}
.product_item .product_title {
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    border-bottom: 1px solid #d5d5d5;
    font-size: 15px;
    font-weight: 600;
    line-height: 62px;
}
.product_item .icon {
    background: url(../img/fold_icon_plus.png) no-repeat;
    width: 11px;
    height: 11px;
    background-size: 11px 22px;
    margin-top: 26px;
    margin: 26px 5px 0 0;
}
.product_content {
    padding-left: 15px;
    display: none;
}
.product_content a {
    display: block;
    line-height: 40px;
    font-size: 14px;
    font-weight: 500;
}
.product_content .total {
    font-weight: 600;
}

/* recommand_prd */
.recommand_prd {
    padding: 0 15px;
    margin-bottom: 30px;
}
.recommand_prd .recommand_title {
    font-weight: 600;
    font-size: 17px;
    letter-spacing: -.75px;
    margin: 35px 0 15px;
}
.recommand_prd img {
    width: 100%;
}
.recommand_prd .swiper-slide div {
    margin-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* aside_sns_wrap */
.aside_sns_wrap {
    padding: 0 15px;
    height: auto;
    line-height: 30px;
    margin-bottom: 25px;
}
.aside_sns_wrap .title {
    font-size: 15px;
    font-weight: 700;
    float: left;
}
.aside_sns_wrap .fb {
    vertical-align: top;
    float: left;
    text-indent: -9999px;
}
.aside_sns_wrap .yt {
    background-position: -60px 0;
    vertical-align: top;
    float: left;
    margin-left: 20px;
    text-indent: -9999px;
}

/* aside_footer */
.aside_footer {
    padding: 30px 20px;
    background: #000;
}
.aside_footer .language_info {
    float: left;
    line-height: 10px;
}
.aside_footer img {
    margin-right: 10px;
    width: 18px;
    height: 12px;
    vertical-align: top;
}
.aside_footer .txt {
    color: #fff;
    vertical-align: middle;
    font-size: 11px;
}
.aside_footer .txt:last-child:before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    margin: 0 10px;
    background: #9b9b9b;
}
.aside_footer .copyright {
    font-size: 11px;
    letter-spacing: 0.5px;
    color: #9b9b9b;
}

/* nav */
.gnb_list {
    background: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0px -10px 20px 0px rgba(0,0,0,0.1);
}
.gnb_list .gnb_item {
    width: calc(100% / 4);
}
.gnb_list .hm .icon_hm {
    background: url(../img/home1.png) no-repeat;
    background-position: center;
    background-size: auto 25px;
    height: 55px;
    display: block;
}
.gnb_list .sch .icon_sch {
    background: url(../img/search1.png) no-repeat;
    background-position: center;
    background-size: 22.5px;
    height: 55px;
    display: block;
}
.gnb_list .my .icon_my {
    background: url(../img/my1.png) no-repeat;
    background-position: center;
    background-size: auto 25px;
    height: 55px;
    display: block;
}
.gnb_list .cart .icon_cart {
    background: url(../img/bag1.png) no-repeat;
    background-position: center;
    background-size: auto 25px;
    width: 20px;
    height: 55px;
    display: block;
}
.gnb_list .cart_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}
.gnb_list .cart .count {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #f86d7d;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    line-height: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
}

/* main */
.main_slide .swiper-slide {
    overflow: hidden;
}
.main_slide img {
    width: 100%;
}
.main_slide .slide_txt {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding: 0 10%;
}
.main_slide .swiper-slide-active .slide_txt .slide_title,
.main_slide .swiper-slide-active .slide_txt .sub_txt {
    margin-left: 0;
    opacity: 1;
}
.main_slide .slide_txt .slide_title {
    min-width: 270px;
    font-size: 35px;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
    opacity: 0;
    margin-left: 35px;
    transition: 0.5s ease-in 0.5s;
}
.main_slide .slide_txt .sub_txt {
    padding-top: 30px;
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    opacity: 0;
    margin-left: 35px;
    transition: 0.7s ease-in 0.7s;
}

/* prd_slide_wrap */
.prd_slide_wrap {
    position: relative;
    margin-bottom: 45px;
}
.prd_list {
    position: sticky;
    top: 0;
    background: #fff;
    border-bottom: 1px solid #f1f1f1;
    z-index: 2;
}
.prd_list .swiper-slide {
    width: auto;
    padding: 20px 0;
    margin: 0 20px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.prd_list .swiper-slide-thumb-active {
    border-bottom: 3px solid #000;
    font-weight: 600;
}
.prd_slide .prd_content {
    float: left;
    width: 50%;
    padding-bottom: 10px;
}
.prd_slide .prd_content > a {
    position: relative;
    display: block;
    height: 100%;
    margin-bottom: 10px;
}
.prd_slide .prd_content img {
    width: 100%;
}
.prd_slide .prd_content .new {
    position: absolute;
    bottom: 2px;
    left: 0;
    background: #000;
    color: #fff;
    padding: 5px 8px;
    font-size: 10px;
    letter-spacing: -0.1px;
    font-weight: 500;
}
.prd_slide .txt_wrap {
    padding: 0 13px 0 12px;
}
.prd_slide .txt_wrap .brand {
    height: 50px;
    line-height: 50px;
    margin-bottom: 8px;
    position: relative;
}
.prd_slide .txt_wrap .brand .brand_name {
    font-size: 15px;
    color: #444;
}
.prd_slide .txt_wrap .brand .fav_icon {
    background: url(../img/btn_favorite.png) no-repeat;
    background-size: auto 15px;
    background-position: center;
    width: 17px;
    height: 17px;
    position: absolute;
    top: calc(100% - 14px);
    right: 0;
    padding: 25px;
}
.prd_slide .txt_wrap .brand .fav_icon.click {
    background: url(../img/btn_favorite_clicked.png) no-repeat;
    background-size: auto 15px;
    background-position: center;
    width: 17px;
    height: 17px;
    padding: 25px;
}
.prd_slide .txt_wrap .prd_content_title {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.5px;
    color: #000;
}
.prd_slide .price_wrap {
    font-size: 16px;
    line-height: 16px;
}
.prd_slide .price_wrap p {
    vertical-align: middle;
    font-weight: 600;
    letter-spacing: -0.5px;
    color: #b1863c;
}
.prd_slide .price_wrap .percent {
    margin-left: 8px;
}
.prd_slide .price_wrap .price {
    margin-left: 8px;
    text-decoration: line-through;
    letter-spacing: 0;
    font-size: 12px;
    font-weight: 500;
    color: #888;
}

/* lookbook */
.lookbook {
    margin-bottom: 60px;
}
.lookbook .title {
    margin-bottom: 30px;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}
.lookbook_wrap {
    overflow: hidden;
    position: relative;
}
.lookbook_wrap .swiper {
    width: 100%;
    height: 100%;
}
.lookbook_wrap .swiper-slide {
    font-size: 18px;
    cursor: pointer;
}
.lookbook_wrap .swiper-slide figure {
    background: rgba(0, 0, 0);
}
.lookbook_wrap .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    transition: 0.3s linear 0.02s;
}
.lookbook_wrap .swiper-slide-active img {
    opacity: 1;
}
.lookbook_wrap .txt_wrap {
    padding: 20px 0 0 5px;
}
.lookbook_wrap .slide_title {
    font-size: 18px;
    display: inline-block;
    padding-bottom: 3px;
    font-weight: 600;
}
.lookbook_wrap .slide_sub_title {
    font-size: 16px;
    color: #444;
}
.lookbook_wrap .swiper-button-prev,
.lookbook_wrap .swiper-button-next {
    background: url('../img/btn_chevron.png') no-repeat;
    background-position: center;
    background-size: 100%;
    width: 20px;
    height: 41px;
    margin-top: -50px;
}
.lookbook_wrap .swiper-button-prev {
    transform: rotate(180deg);
    left: 25px;
}
.lookbook_wrap .swiper-button-next {
    right: 25px;
}
.lookbook_wrap .swiper-button-prev::before {
    left: -50%;
}
.lookbook_wrap .swiper-button-next::before {
    left: -35%;
}
.lookbook_wrap .swiper-pagination {
    width: 100%;
    margin: 0 auto;
}
.lookbook .swiper-pagination-bullet {
    margin: 0 4px;
    text-align: center;
}

/* collection */
.collection {
    margin-bottom: 45px;
}
.collection .title {
    margin-bottom: 10px;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}
.collection .sub_title {
    margin-bottom: 15px;
    text-align: center;
    letter-spacing: -1.05px;
    font-size: 12px;
    line-height: 17px;
}
.collection .swiper-container {
    padding-bottom: 30px;
}
.collection .swiper-slide {
    transform: scale(0.9);
    transition: 0.3s;
}
.collection_slide .swiper-slide-active {
    transform: scale(1);
}
.collection_slide .img_wrap {
    height: auto;
}
.collection .slide_img {
    width: 100%;
}
.collection .txt_wrap {
    padding: 15px;
}
.collection .txt_wrap .slide_title {
    font-size: 16px;
    display: inline-block;
    padding-bottom: 9px;
    font-weight: 800;
}
.collection .txt_wrap .slide_sub_title {
    font-size: 13px;
    font-weight: 500;
    color: #444;
    line-height: 19px;
}

/* magazine */
.magazine {
    margin-bottom: 40px;
}
.magazine > .title {
    margin-bottom: 20px;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}
.magazine .tab_title_wrap {
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: 60px;
    margin-bottom: 20px;
    padding-top: 10px;
    border-bottom: 1px solid #e4e5e8;
}
.magazine .tab_title  {
    width: 33.3%;
    height: 49px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: none;
    color: #444;
}
.magazine .tab_title.active {
    border-bottom: 3px solid #000;
    font-weight: 700;
    color: #000;
}
.magazine .tab_contents_wrap {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 0 20px;
}
.magazine .tab_list {
    display: flex;
    flex-direction: column;
    display: none;
}
.magazine .tab_list.active {
    display: block;
}
.magazine .tab_list_wrap {
    display: flex;
    flex-direction: column;
}
.magazine .tab_item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.magazine .tab_item .tab_img {
    max-width: 130px;
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}
.magazine .tab_item .txt_wrap {
    margin-left: 15px;
}
.magazine .tab_item .title {
    max-height: 42px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 8px;
}
.magazine .tab_item .sub_title {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.3;
    color: #878484;
}

/* world */
.world {
    margin-bottom: 50px;
}
.world .title {
    margin-bottom: 25px;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}
.world .world_item {
    height: 33.3%;
    position: relative;
}
.world .world_item:hover .item_bg {
    filter: none;
    transition: 0.4s;
}
.world .world_item:hover .item_txt {
    opacity: 1;
}
.world .world_item:hover .txt_title,
.world .world_item:hover .btn_shop {
    opacity: 1;
    transform: translateX(30px);
    transition: 0.4s;
}
.world .item_bg {
    width: 100%;
    height: 180px;
    object-fit:cover;
    min-height: 100%;
    filter: grayscale(100%);
    transition: 0.2s;
}
.world .item_txt {
    height: 104px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.1s;
    opacity: .3;
}
.world .txt_title {
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: 600;
    color: #fff;
    text-shadow: 2px 2px 5px rgb(0 0 0 / 20%);
    transform: translateX(-30px);
    transition: 0.4s;
    opacity: 0;
}
.world .btn_shop {
    padding: 8px 30px;
    font-size: 16px;
    font-weight: 600;
    background: rgb(255, 96, 78);
    border: 2px solid;
    border-radius: 25px;
    border: none;
    color: #fff;
    transform: translateX(-500%);
    transition: 0.4s;
}

/* qna */
.qna {
    padding: 0 20px;
    margin-bottom: 50px;
}
.qna .title_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #e4e5e8;
}
.qna .title_wrap .title {
    font-size: 18px;
    font-weight: 600;
}
.qna .title_wrap .total {
    font-size: 14px;
}
.qna .qna_item {
    border-bottom: 1px solid #e4e5e8;
}
.qna .qna_item .question {
    padding: 24px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.qna .qna_item .question .title {
    display: inline-block;
    padding-right: 20px;
    font-size: 16px;
    line-height: 1.4;
}
.qna .qna_item .question .title.active {
    font-weight: 600;
}
.qna .qna_item .icon {
    background: url(../img/btn_chevron_gray.png) no-repeat;
    background-size: 100%;
    width: 14px;
    height: 7px;
    transform: rotate(180deg);
    transition: 0.1s;
    overflow: hidden;
}
.qna .qna_item .icon.active {
    transform: rotate(360deg);
    transition: linear 0.2s;
}
.qna .qna_item .answer {
    padding: 10px 10px 30px;
    font-size: 14px;
    display: none;
    line-height: 2;
}

/* nike_banner */
.banner {
    margin-bottom: 45px;
    position: relative;
}
.banner img {
    width: 100%;
}
.banner .txt_wrap {
    position: absolute;
    top: calc(100% - 53%);
    left: 60px;
    margin-top: -45px;
}
.banner .txt_wrap .logo {
    color: #fff;
    background: url(../img/logo1.png) no-repeat;
    background-size: auto 16px;
    background-position: center;
    width: 50px;
    height: 33px;
    text-indent: -9999px;
}
.banner .txt_wrap .title {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    display: inline-block;
    margin-bottom: 7px;
}
.banner .txt_wrap .sub_title {
    color: #fff;
    font-size: 12px;
    line-height: 17px;
    font-weight: 500;
    margin-bottom: 10px;
    letter-spacing: 0.75px;
}
.banner .txt_wrap .btn_shop {
    height: 30px;
    padding: 8px 20px;
    border: 2px solid #fff;
    font-size: 9px;
    font-weight: 500;
    letter-spacing: 0.8px;
    color: #fff;
}

/* footer */
footer {
    height: 260px;
}
footer .notice_wrap {
    padding: 15px 5px;
    margin: 0 20px;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    position: relative;
}
footer .notice_wrap .notice {
    color: #222;
    font-size: 14px;
    font-weight: 700;
}
footer .notice_wrap .title {
    display: inline-block;
    width: 190px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 12px;
    vertical-align: bottom;
    margin-left: 10px;
    font-size: 12px;
    color: #666;
}
footer .notice_wrap .icon {
    background: url(../img/btn_chevron_sml.png) no-repeat;
    background-size: 100%;
    background-position: center;
    position: absolute;
    top: 17px;
    right: 5px;
    width: 7px;
    height: 9px;
}
footer .inquiry_wrap {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    padding: 20px 5px 0;
}
footer .online_inquiry {
    margin-bottom: 20px;
}
footer .online_inquiry .online_title,
footer .prd_inquiry .prd_title,
footer .company_info .working_hour {
    margin-bottom: 11px;
    font-size: 12px;
    color: #666;
}
footer .online_num,
footer .prd_num {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.2px;
    color: #222;
}
footer .company_info {
    width: 130px;
}
footer .working_time {
    margin-bottom: 5px;
    font-size: 12px;
    letter-spacing: 0.2px;
    color: #222;
}
footer .working_time .time {
    margin-left: 5px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.2px;
    color: #222;
}
footer .lunch_time,
footer .rest_day {
    margin-bottom: 5px;
    font-size: 11px;
    color: #8f8f8f;
    letter-spacing: 0.2px;
}
footer .rest_day {
    margin-bottom: 15px;
}
footer .more_link {
    display: flex;
    justify-content: space-between;
}
footer .more_link a {
    font-size: 12px;
    color: #666;
    border-bottom: 1px solid #666;
    padding-bottom: 2px;
}